
html{
    background-color: white;
}
#title{
    background-color: #ff4c68;
    height: 65vh;
}

#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;  
    margin: 0;
}
#features{
    /* padding: 7% 15%; */
    background-color: #fff;
    /* position: relative; */
    /* z-index: 1; */
    height: 35vh;
}

.img{
    transform: rotate(20deg);
    width: 25%;
    margin-top: 5%;
    margin-left: 300px;
    /* position: absolute; */
}

/* .container-fluid{

} */

nav .navbar-brand{
    font-size: 2.5rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
}

nav .navbar-nav{
    margin-left: 100vh;
}

.nav-link{
    color: #4a4344 !important;
    font-size: smaller !important;
}

h1, h2{ 
    font-family: 'Montserrat', sans-serif; 
    font-size: 3rem;
    line-height: 1.5; 
    color: white;
}

.meet{
    margin-top: 200px;
    margin-left: 100px;
    font-size: 60px;
 
}
.jm3{
    margin-left: 100px;
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'ubuntu', sans-serif;
    position: relative;
    display: end;
}

.btn {
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 100px;;
}

.move {
    margin: 0 0 0 1200px;
}

.fa-brands fa-google-play{
    color: white;
}

.chof{
    margin-top: 200px;
    margin-bottom: 200px;  
}
 
.check{
    font-size: 70px;
    color: #ff4c68;
    margin-bottom:20px;
}

h3{
    font-family: 'ubuntu', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: rgb(42, 42, 54);
    text-align: center;
}

.h2{
    text-align: start;
}

p{
    color: rgb(0, 0, 0);
    font-size: medium;
}

.plan{
    margin-top: 50px;
    margin-left: 50px;
}

#testimonials{
    background-color: #ff4c68;
    color: white;
    padding: 1% 20%;
    text-align: center ;
}

.dog{
    width: 15%;
    border-radius: 100%;
    margin: 0 3%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.chof1{
    margin-top: 50px;
    /* margin-bottom: 50px;  */
    margin-left: 120px;
    margin-right: 100px;
    text-align: center;
}

em{
    font-size: 1rem;
    font-family: 'ubuntu', sans-serif;
    color: rgb(0, 0, 0);
}

#press
{
    background-color: #ff4c68;
    text-align: center ;
    padding-bottom: 50px;
}


.prasse-img{
    width: 15%;
    height: 15%;
    margin: 12px;
}

.slide{
    margin-top: 100px;
    margin-bottom: 50px;
}

#pricing{
    text-align: center ;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    height: 35vh;
}

.btn2{
    padding-left: 20px;
    padding-right: 20px;
}

.card{
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 10vh;
    /* width: 100%; */
    /* background-color: aqua; */
}

.card:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

#cta{
    background-color: #ff4c68;
    text-align: center ;
    padding: 1% 20%;
    color: white;
    height: 40vh;
}
.foter-txt{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

#footer{
    background-color: white;
    text-align: center ;
    padding: 1% 20%;
    color: white;
    height: 10vh;
}

#footer p{
    color: rgb(186, 186, 186);
    font-size: 1rem;
}

.media-icon{
    margin: 0 10px;
    color: balck;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    cursor: pointer;
}
.media-icon i{
    margin: 0 10px;
}
.media-icon i:hover{
    color: #ff4c68;
}

/* nav*/

@media (max-width: 2600px) { 
    nav .navbar-nav{
        margin-left: 90vh;
    }
    .img{
        transform: rotate(20deg);
        width: 28%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}
@media (max-width: 2400px) { 
    nav .navbar-nav{
        margin-left: 90vh;
    }
    .img{
        transform: rotate(20deg);
        width: 28%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}

@media (max-width: 2200px) { 
    nav .navbar-nav{
        margin-left: 80vh;
    }
    .img{
        transform: rotate(20deg);
        width: 28%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}

@media (max-width: 2100px) { 

    nav .navbar-nav{
        margin-left: 70vh;
    }
    .img{
        transform: rotate(20deg);
        width: 40%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}

@media (max-width: 2000px) { 

    nav .navbar-nav{
        margin-left: 65vh;
    }
    .img{
        transform: rotate(20deg);
        width: 40%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}

@media (max-width: 1900px) { 

    nav .navbar-nav{
        margin-left: 50vh;
    }
    .img{
        transform: rotate(20deg);
        width: 40%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}
@media (max-width: 1718px) { 

    nav .navbar-nav{
        margin-left: 45vh;
    }
    .img{
        transform: rotate(20deg);
        width: 40%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}

@media (max-width: 1600px) { 

    nav .navbar-nav{
        margin-left: 40vh;
    }
    .img{
        transform: rotate(20deg);
        width: 40%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}


@media (max-width: 1500px) { 

    nav .navbar-nav{
        margin-left: 30vh;
    }
    .img{
        transform: rotate(20deg);
        width: 40%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}


@media (max-width: 1400px) { 

    nav .navbar-nav{
        margin-left: 28vh;
    }
    .img{
        transform: rotate(20deg);
        width: 50%;
        margin-top: 10%;
        margin-left: 100px;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}


@media (max-width: 1300px) { 

    nav .navbar-nav{
        margin-left: 20vh;
    }
    .img{
        transform: rotate(20deg);
        width: 50%;
        margin-top: 10%;
        margin-right: 100px;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}

@media (max-width: 1180px) { 

    nav .navbar-nav{
        margin-left: 8vh;
    }
    .img{
        transform: rotate(20deg);
        width: 50%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }
}

@media (max-width: 1170px) { 

    nav .navbar-nav{
        margin-left: 8vh;
    }
    .img{
        transform: rotate(0);
        width: 60%;
        margin-top: 10%;
        /* position: absolute; */
    }
    .jm3{
        margin-left: 100px;
    }

}

@media (max-width: 1120px) { 

    nav .navbar-nav{
        margin-left: 8vh;
    }
    .img{
        transform: rotate(0);
        width: 60%;
        }
    .jm3{
        margin-left: 100px;
    }
}

@media (max-width: 990px) { 

    nav .navbar-nav{
        margin-left: 8vh;
    }
    .img{
        transform: rotate(0);
        width: 50%;
        margin: 50px 250px 50px;
        position: absolute;
        z-index: -1;
    }
    .meet{
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
    }
    .jm3{
        margin-left: 250px;
    }

    #pricing{
        height: 90vh;
    }
    .Download-btn2{
        margin-top: 0;
    }
}
@media (max-width: 790px) { 

    .img{
        transform: rotate(0);
        width: 50%;
        margin: 50px 150px 50px;
    }
    .card{
        margin: 0 10px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-bottom: 50px;
        margin-top: 50px;
        height: 100%;
        width: 100%;
    /* background-color: aqua; */
}
    .jm3{
        margin-left: 150px;
    }

}
@media (max-width: 600px) { 

    .card{
        margin: 0 15px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-bottom: 50px;
        margin-top: 50px;
        height: 150%;
        width: 150%;
    /* background-color: aqua; */
}
    #pricing{
        height: 100vh;
    }
    .foter-txt{
        margin-top: 100px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    
}
@media (max-width: 560px) { 

    .card{
        margin: 0 15px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-bottom: 50px;
        margin-top: 50px;
        height: 150%;
        width: 150%;
    }
}
